.menuItems {
    position: absolute;
    top: 81px;
    right: 0;
    background-color:rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &__items {
        padding: 20px;
        font-size: 20px;
        cursor: pointer;
        color: #ffffff;
        &:hover {
            color: gray;
            text-decoration: underline;
            text-underline-offset: 10px;
        }
    }
}