.titleAndButtonStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;

  &__text {
    margin-bottom: 100px;
  }
  &__text-journey {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(45deg, #ffffff 13%, #ff450c 60%, #ff450c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__text-planet {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(45deg, #ffffff 15%, #ff450c 40%, #ff450c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__buttonStart {
    color: #ffffff;
    padding: 10px;
    max-width: 250px;
    white-space: nowrap;
    color: #8f9296;
    border: 1px solid skyblue;
    border-image: linear-gradient(
      to left bottom,
      rgb(1, 1, 148),
      rgb(84, 130, 148),
      rgb(1, 1, 148)
    );
    border-image-slice: 1;
    z-index: 1;
    &:hover {
      color: #ffffff;
      border-image: linear-gradient(to left bottom, blue, skyblue, blue);
      border-image-slice: 1;
    }
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .titleAndButtonStart {
    align-items: center;
    &__text-journey {
      font-size: 40px;
    }
    &__text-planet {
      font-size: 20px;
    }
  }
}
